<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/> 			
	<modules runAllManagedModulesForAllRequests="true"> 				
	  <remove name="WebDAVModule"/> 			
	</modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Salary.API.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\superstarsalary.ir\tmp" />
  </system.web>
</configuration>
<!--ProjectGuid: 4ef77d02-e159-477d-8f83-c5706d574f6d-->